{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}
{% block body %}
    <div class="jumbotron col-sm-6 offset-sm-3">
		<h1 class="text-center">Welcome to the website</h1>
{% if app.user %}
    <h6>Quick guide on how to use this site:</h6>
    <ul>
    <li>1. Add ingredients (if there are none)</li>
    <li>2. To add image to recipe, add it to your gallery first ("Manage images" or click <a href="{{ path('images')}}">here</a>)</li>
    <li>3. Add the recipe!</li>
    </ul>
    </div>
{% endif %}
{% endblock %}
