{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="jumbotron col-sm-6 offset-sm-3">
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button class="btn btn-lg btn-primary">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
