{% extends 'base.html.twig' %}

{% block title %}Hello IngredientController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <div class="list-group">
            {% if pagination.items is empty %}
                <div class="alert alert-primary" role="alert">
                    No ingredients are present in the database.
                </div>
            {% endif %}
            {% for ingredient in pagination %}
                <div class="list-group-item">
                    <div class="container">
                        <div class="row">
                            <div class="col">{{ ingredient }}</div>
                            <div class="col text-right">Added by: <a href="{{ path('user', {'id': ingredient.user.id}) }}">{{ ingredient.user.username }}</a></div>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% if app.user.username == ingredient.user.username %}
                                    <div class="col">
                                        <a class="btn btn-outline-danger btn-lg btn-block" href="#" role="button"
                                           data-toggle="modal" data-target="#deletionModal">Delete</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="deletionModal" tabindex="-1" role="dialog" aria-labelledby="deletionModal"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Delete ingredient</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this recipe?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a href="{{ path('delete_ingredient', {'id': ingredient.id}) }}" type="button"
                                   class="btn btn-primary">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
