{% extends 'base.html.twig' %}

{% block title %}Hello ImageController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <div class="jumbotron">
            {% if images is empty %}
                No images found. Add one <a href="{{ path('add_image') }}">here.</a>
            {% else %}
                Add image <a href="{{ path('add_image') }}">here.</a>
                {% for image in images %}
                    <img class="img-thumbnail" src="{{ vich_uploader_asset(image, 'imageFile') }}" />
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
