.header {
    text-align: center;
    height: 8vh;
    position: relative;
    background-image: url('william-492589-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45% 40%;
    width: 100%;
}
.headerTitle {
    box-sizing: content-box;
    font-size: calc(1.45vw + 1.45vh + 1vmin);
    color: #ECEFF1;
    text-shadow: 2px 2px #263238;
    text-align: center;
    width: 100%;
    display: inline-block;
}
.bg-image {
    background: url('icons8-team-554108-unsplash.jpg') no-repeat center center fixed #000;
    height: 100%;
    background-size: cover;
}