{% extends 'base.html.twig' %}

{% block title %}Recipes{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        {% if pagination.items is empty %}
            <div class="alert alert-primary" role="alert">
                No recipes are present in the database.
            </div>
        {% endif %}
        <div class="col">
            <a class="btn btn-danger btn-lg btn-block" href="#" role="button" data-toggle="modal"
               data-target="#deletionModal">Filter</a>
        </div>
        {% for recipe in pagination %}
        {% if filters is defined and filters is not empty %}
            <div class="col bg-info rounded mt-2">
            You searched for:
                <ul>
                    {% for filter in filters %}
                        <li>{{ filter }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
            <div class="list-group">
                <a href="{{ path('view_recipe', {'id': recipe.id}) }}"
                   class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ recipe.name }}</h5>
                        <small>Difficulty: {{ recipe.difficulty }}</small>
                    </div>
                    <div class="container">
                    <div class="row">{% if recipe.image.toarray is not null and recipe.image.toarray is not empty %}
                    <img src="images/{{ recipe.image.toarray[0] }}" style="max-width: 250px; max-height: 150px"/>
                    {% endif %}
                    </div>
                        <div class="row">
                            <p class="mb-1">{{ recipe.steps[:25] ~ (recipe.steps|length > 25 ? '...' ) }}</p>
                        </div>
                        <div class="row">
                            <small>
                                {% for ingredient in recipe.ingredients %}
                                    {% if loop.last %} {{ ingredient }}
                                    {% elseif loop.index > 1 %} {{ ingredient }},
                                    {% else %}{{ ingredient }},
                                    {% endif %}
                                {% endfor %}
                            </small>
                        </div>
                        <div class="row d-flex w-100 justify-content-between">
                            <small>Added by {{ recipe.user.username }}</small>
                            <small>Likes: {{ recipe.likes|length }}</small>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% if pagination.items is not empty %}
            <div class="container">
                <div class="row bg-light text-dark">
                    <div class="pagination navigation col">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                    <div class="pull-right">
                        Sort by: {{ knp_pagination_sortable(pagination, 'Date added', 'r.id') }} |
                        {{ knp_pagination_sortable(pagination, 'Difficulty', 'r.difficulty') }} |
                        {{ knp_pagination_sortable(pagination, 'Score', 'r.score') }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="modal fade" id="deletionModal" tabindex="-1" role="dialog" aria-labelledby="deletionModal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Filter recipes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    {{ form_row(form.ingredient) }}
                    {{ form_row(form.submit) }}
                    {{ form_end(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
