{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron col-sm-8 offset-sm-2">
    {{ form_start(form) }}
    <div class="col-sm-9 offset-sm-2">
        <div class="form-group row">
            <div class="col-2 col-form-label">{{ form_label(form.name) }}</div>
            <div class="col-10">{{ form_widget(form.name) }}</div>
        </div>
        <div class="form-group row">
            <div class="col col-form-label">{{ form_label(form.makingTime) }}</div>
            <div class="col">{{ form_widget(form.makingTime, { 'attr': {'style': 'flex-flow: nowrap !important'}}) }}
                hours:minutes
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6 col-form-label">{{ form_label(form.difficulty) }}</div>
            <div class="col-1"><p id="textInput">
                    {% if app.request.attributes.get('_route') == 'edit_recipe' %}
                    {{ form.vars.value.difficulty }}
                        {% else %}
                        3
                    {% endif %}
                </p></div>
            <div class="col">{{ form_widget(form.difficulty) }}</div>
        </div>
        <div class="form-group row">
            <div class="col col-form-label">{{ form_label(form.ingredients) }}</div>
            <div class="col">{{ form_widget(form.ingredients) }}</div>
        </div>
        <div class="form-group row">
            <div class="col col-form-label">{{ form_label(form.steps) }}</div>
            <div class="col">{{ form_widget(form.steps) }}</div>
        </div>
        <div class="form-group row">
            <div class="col col-form-label">{{ form_label(form.image) }}</div>
            <div class="col">{{ form_widget(form.image) }}</div>
        </div>
        <div class="form-group row">
            <div class="col">{{ form_widget(form.submit) }}</div>
        </div>
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
    </div>
    <div class="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-secondary btn-lg btn-block" href="{{ path('show_recipes') }}" role="button">Go
                back</a>
        </div>
    </div>
    <script>
        document.getElementById('recipe_difficulty').oninput = function () {
            document.getElementById('textInput').innerHTML = this.value;
        }
    </script>
    <style>
        input[type=range]::-moz-range-track {
            background-color: silver;
        }
    </style>
{% endblock %}
