{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron col-sm-6 offset-sm-3">
        <div class="container">
            <h1 class="display-4">{{ recipe.name }}</h1>
            
            {% if recipe.image is not empty %}
            <div>
                <img class="img-thumbnail" src="{{ vich_uploader_asset(image, 'imageFile') }}" />
            </div>
            {% endif %}
            <div>
                Time to make: {{ recipe.makingTime|date('m') }} minute(s)<br/>
                Difficulty: {{ recipe.difficulty }}
            </div>
            <h5>Required ingredients: </h5>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
            <p class="lead">{{ recipe.steps }}</p>
        </div>
        <small>Added by <a href="{{ path('user', {'id': recipe.user.id }) }}">{{ recipe.user.username }}</a></small>
    </div>

    <div class="container">
            {% for comment in pagination %}
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">{{ comment.user.username }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ comment.date.format('Y-m-d H:i:s') }}</h6>
                    <p class="card-text">{{ comment.content }}</p>
                    </div>
                </div>
            {% endfor %}
        {% if pagination.items is not empty %}
            <div class="container">
                <div class="row bg-light text-dark">
                    <div class="pagination navigation col">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                    <div class="pull-right">
                        Sort by: {{ knp_pagination_sortable(pagination, 'Date added', 'c.id') }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <a class="btn btn-secondary btn-lg btn-block" href="{{ path('show_recipes') }}" role="button">Go
                    back</a>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if app.user.username == recipe.user.username %}
                    <div class="col">
                        <a class="btn btn-info btn-lg btn-block"
                           href="{{ path('edit_recipe', {'id': recipe.id}) }}" role="button">Edit</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-danger btn-lg btn-block" href="#" role="button" data-toggle="modal"
                           data-target="#deletionModal">Delete</a>
                    </div>
                {% else %}
                    {% if app.user in recipe.likes %}
                        <div class="col">
                            <a class="btn btn-primary btn-lg btn-block active"
                               href="{{ path('like_recipe', {'id': recipe.id}) }}" role="button">Liked!</a>
                        </div>
                    {% else %}
                        <div class="col">
                            <a class="btn btn-success btn-lg btn-block"
                               href="{{ path('like_recipe', {'id': recipe.id}) }}" role="button">Like this recipe</a>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="col">
                    <a class="btn btn-success btn-lg btn-block" href="#" role="button" data-toggle="modal"
                       data-target="#commentModal">Comment</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="deletionModal" tabindex="-1" role="dialog" aria-labelledby="deletionModal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this recipe?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{{ path('delete_recipe', {'id': recipe.id}) }}" type="button"
                       class="btn btn-primary">Yes</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add comment!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(commentForm) }}
                    {{ form_row(commentForm.content) }}
                    {{ form_row(commentForm.submit) }}
                    {{ form_end(commentForm) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}