<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ asset('main_page_style.css') }}">
    {% block bootstrap_required %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
    {% endblock %}
</head>
<body class="bg-image switchToDark">
{% block navigation %}
    <div class="header switchToDark">
        <p class="text-center headerTitle">Website</p>
    </div>
    <nav class="navbar navbar-expand-md navbar-light bg-light text-dark switchToDark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggle">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <button id="toggleAcc" class="switchToDark btn btn-info">Toggle accesibility option</button>
                </li>
                <li class="nav-item active">
                    <a class="nav-link switchToDark" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link switchToDark" href="{{ path('show_recipes') }}">Show recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link switchToDark" href="{{ path('ingredient') }}">View ingredients</a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link switchToDark" href="{{ path('add_recipe') }}">Add recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link switchToDark" href="{{ path('add_ingredient') }}">Add ingredient</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link switchToDark" href="{{ path('user', {'id' : app.user.id}) }}">Manage account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link switchToDark" href="{{ path('images') }}">Manage images</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link switchToDark" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link switchToDark" href="{{ path('app_register') }}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link switchToDark" href="{{ path('app_login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}
{% block flash_messages %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                {{ message | raw }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
{% block body %}{% endblock %}
{% block bootstrap_javascripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
{% endblock %}
{% block javascripts %}{% endblock %}
<script>
var elements = document.getElementsByClassName('switchToDark');
var trigger = document.getElementById('toggleAcc'); // or whatever triggers the toggle

trigger.addEventListener('click', function(e) {
    e.preventDefault();

    setToBlack(elements);

    if (getCookie('darkmode')) {
        document.cookie = "darkmode=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    } else {
        document.cookie = "darkmode=true";
    }
});

function setToBlack(elements) {
    for (i = 0; i < elements.length; i++) {
        elements[i].classList.toggle('darkColors');
    }

    var jumbotrons = document.getElementsByClassName('jumbotron');
    var buttons = document.getElementsByClassName('btn');
    var alerts = document.getElementsByClassName('alert');
    
    for (i = 0; i < jumbotrons.length; i++) {
        jumbotrons[i].classList.toggle('darkColors');
    }

    for (i = 0; i < buttons.length; i++) {
        buttons[i].classList.toggle('darkColors');
    }
    
    for (i = 0; i < alerts.length; i++) {
        alerts[i].classList.toggle('darkColors');
    }

    trigger.classList.toggle('darkColors');
}

window.onload = function () {
    if (getCookie('darkmode')) {
        setToBlack(elements);
    }
};

function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}
</script>
<style>
.darkColors {
    background-color: black !important;
    color: white !important;
    background: none;
}
</style>
</body>
</html>
