{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron col-sm-4 offset-sm-4">
        <div class="col-sm-6 offset-sm-3">
            <h1 class="text-center">Add ingredient</h1> <br/>
            <div class="form-group text-center col">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}