{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <div class="col-xl-10 offset-xl-1">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <p class="text-center" style="font-size: 2rem">{{  userDoctrine.username }}!</p>
                Added recipes: {{ userDoctrine.recipes|length }}<br/>
                Added ingredients: {{ userDoctrine.ingredients|length }}
                {% if user == userDoctrine %}
                <a href="{{ path('user_edit') }}" class="btn btn-primary btn-lg btn-block">Edit</a>
                <a href="#" class="btn btn-danger btn-lg btn-block">Delete account</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
