{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="jumbotron col-sm-6 offset-sm-3">
        <div class="container">
            <h1>Update account</h1>

            {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}

            <button class="btn">Update</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
